.main {
    min-height: 2050px;
}

.main .container_project {
    min-height: 400px;
}

.main .container_project {
    margin-top: 20px;
}

.main .container_project.first {
    margin-top: 180px;
}

.main .container_project.second {
    margin-top: 50px;

}

.main .part1 {
    display: flex;
}

.main .container_project .content.with {
    margin-left: 50px;
    /*padding-top: 20px;*/
}
.main .content p {
    font-size: 25px;
}

.main .content span, div, p {
    font-size: 20px;
    padding-bottom: 3px;
}

.main .content h2 {
    font-size: 30px;
    font-weight: 500;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
}


.container_project .github {
    display: flex;
    flex-direction: column;
}

.container_project .github {
    margin-top: 10px;
}

.container_project.first .lists, .container_project.second .lists {
    display: flex;
}


.container_project .github a {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid orange;
    background-color: orange;
    color: black;
    border-radius: 10px;
    padding: 15px 5px 5px;
    margin-left: 5px;
    margin-right: 20px;
    width: 190px;
    height: 50px;
    text-align: center;
}

.container_project .github a:hover {
    background-color: orange;
    color: white;
    font-size: 30px;
}



